<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Representante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Nome</ion-label>
    <ion-input [(ngModel)]="representante.nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input [(ngModel)]="representante.email" type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Telefone</ion-label>
    <ion-input [(ngModel)]="representante.telefone"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="salvar()">Salvar</ion-button>
  <ion-button expand="full" color="light" style="--background: #A47E6F; --color: white; --border-radius: 25px;" (click)="cancelar()">Cancelar</ion-button>
</ion-content>