<ion-header>
  <ion-toolbar>
    <ion-title>Novo Vinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item><ion-label position="stacked">Nome</ion-label><ion-input [(ngModel)]="vinho.nome"></ion-input></ion-item>
  <ion-item><ion-label position="stacked">Tipo</ion-label><ion-input [(ngModel)]="vinho.tipo"></ion-input></ion-item>
  <ion-item><ion-label position="stacked">Safra</ion-label><ion-input [(ngModel)]="vinho.safra"></ion-input></ion-item>
  <ion-item><ion-label position="stacked">Notas</ion-label><ion-textarea [(ngModel)]="vinho.notas"></ion-textarea></ion-item>
  <ion-item><ion-label position="stacked">Harmonização</ion-label><ion-textarea [(ngModel)]="vinho.harmonizacao"></ion-textarea></ion-item>
  <ion-item><ion-label position="stacked">Imagem (URL)</ion-label><ion-input [(ngModel)]="vinho.imagemUrl"></ion-input></ion-item>
  <ion-item><ion-label position="stacked">Preço</ion-label><ion-input type="number" [(ngModel)]="vinho.preco"></ion-input></ion-item>

  <ion-button expand="full" (click)="salvar()">Salvar</ion-button>
  <ion-button expand="full" style="--background: #A47E6F; --color: white; --border-radius: 25px;" (click)="cancelar()">Cancelar</ion-button>
</ion-content>
