<ion-header
  ><ion-toolbar><ion-title>Pedidos</ion-title></ion-toolbar></ion-header
>

<ion-content class="ion-padding">
  <ion-text color="primary" *ngIf="pedidos.length != 0">
    <h4>Clique em um pedido existente para adicionar mais itens</h4></ion-text
  >
  <ion-list>
    <ion-item *ngFor="let pedido of pedidos">
      <ion-label>
        <h2>{{ pedido.clienteNome }}</h2>
        <p>
          {{ pedido.data }} | {{ contarItens(pedido) }} itens
        </p>
        <strong>Total: R$ {{ pedido.total | number:'1.2-2' }}</strong>
      </ion-label>
      <ion-buttons slot="end" *ngIf="admin">
        <ion-button color="medium" (click)="editar(pedido)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="excluir(pedido)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-button 
    expand="block"
    color="light"
    fill="outline"
    style="background: #A47E6F; color: white; font-weight: bold; border-radius: 25px;"
    (click)="novoPedido()"
    >Novo Pedido</ion-button>
</ion-content>
