<ion-header>
  <ion-toolbar>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let cliente of clientes">
      <ion-label>
        <h2>{{ cliente.nome }}</h2>
        <p>{{ cliente.cidade }} - {{ cliente.estado }}  | {{ cliente.contato }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="medium" (click)="abrirCadastro(cliente)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="excluirCliente(cliente)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-button 
    expand="block"
    color="light"
    fill="outline"
    style="background: #A47E6F; color: white; font-weight: bold; border-radius: 25px;"
    (click)="abrirCadastro()"
    >Novo Cliente</ion-button>
</ion-content>
