<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="logout()">Sair</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list style="background: #4a0707">
    <ion-item style="--background: white; --color: #333; margin-bottom: 8px; border-radius: 8px;" routerLink="/clientes">Clientes</ion-item>
    <ion-item style="--background: white; --color: #333; margin-bottom: 8px; border-radius: 8px;" routerLink="/vinhos">Vinhos</ion-item>
    <ion-item style="--background: white; --color: #333; margin-bottom: 8px; border-radius: 8px;" routerLink="/pedidos">Pedidos</ion-item>
    <ion-item style="--background: white; --color: #333; margin-bottom: 8px; border-radius: 8px;" routerLink="/rotas">Gerador de Rotas</ion-item>
    <ion-item style="--background: white; --color: #333; margin-bottom: 8px; border-radius: 8px;" routerLink="/representantes">Representantes</ion-item>
  </ion-list>
</ion-content>
